.welcome{
    margin-top:9px;
}
#rect1{
    margin-top: 50px;
    background-color: #02A486;
    height: 35vh;
}

#rect3 {
    background-color: #02735f;
    margin-top: -20px;
    height: 40vh;
}

.rectangle {
    background-color: white;
    height: 42vh;
}
.square1{
    background-color: #b8e8e2;
    height: 42vh;
}
.square2{
    background-color: #014337;
    height: 42vh;
}

.rotated-text {
    transform: rotate(-90deg);
}

.larger-text {
    font-size: 18px;
}

.Landing {
    background-image: url(/imagenes/mar.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.navbar {
    background-color: black !important;
}

.navbar-brand {
    color: white !important;
    
    font-size: 25px !important;
}

.nav-link {
    color: white !important;
}

.btn-transparent {
    
    border-color: white;
    color: white;

}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.mainTitle {
    color: white;
    text-align: center;
    padding-top: 7%;
}

.mainTitle h1 {
    font-size: 90px;
    padding-top: 2%;
}

.mainTitle h1.MasterPiece {
    padding-right: 28px;
}

.mainPar {
    color: white;
    text-align: left;
    margin-top: 20px;
}

.mainPar p {
    margin-left: 275px;
}

.btn-dark {
    margin-left: 275px;
}

.FondoBlanco {
    background-color: white;
    height: 650px;
    width: 100%;
}

.FondoBlanco h1 {
    margin-left: 30px;
    margin-top: 30px;
}

.card-img-top {
    height: 300px;
    width: auto;
    margin-right: 30px;
}

.CardsPies {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.CardsPar p {
    margin-top: 30px;
    margin-left: 195px;
}

.cardsPar a,
button.btn-dark {
    margin-top: 60px;
}

.FondoVerde {
    background-color: #02735F;
    height: 400px;
    width: 100%;
}

.contenedor {
    width: 150px;
    height: 200px;
    text-align: center;
    margin-top: 75px;
    color: white;
}

.texto-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    display: inline-block;
    font-size: 30px;
    transform: scaleY(+1);
    margin-top: 10px;
}

.ImgVerde img {
    padding-left: 50px;
    height: 250px;
    width: 550px;
}

.contenedor p {
    margin-top: 25px;
}

.contenedor a {
    color: white;
}

